// reset
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
    text-align: center;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .banner-container {

        background-color: #00203fff;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 auto;

        // .header {}
        .info {
            padding: 20px;
            font-size: 18px;
        }
    }

    .fotd-container {

        background-color: white;
        color: #00203fff;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text {
            padding: 20px;
            font-size: 18px;
        }
    }

    .random-container {

        background-color: #00203fff;
        color: white;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text {
            padding: 20px;
            font-size: 18px;
        }

        .button {
            margin: 0 auto;
        }

        .button:hover {
            color: dodgerblue;
        }
    }
}